# modules
node_modules
build
dist

# logs
logs

# Test
src/test.ts
dist/test.js


# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
.pnp
.pnp.js

# misc
pnpm-lock.yaml
yarn.lock
package-lock.json